{% extends "layout.html" %}
{% block body %}
{{ puzzle }}<br /><br />

{% if showGuess %}
<strong>Enter your guess:</strong>
<br />
<input type="text" class="answer"> <input type="button" class="checkAnswer btn btn-primary" value="Check">
{% endif %}
{% endblock %}
{% block js %}
    <script>
        $(function() {
            $(".checkAnswer").click(function() {
                var url = $(".answer").val();
                window.location.href = "{{ url_for('puzzle_main') }}/" + encodeURIComponent(url)
            });
        })
    </script>
{% endblock %}